/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background-color: #fffef5f9;
    padding: 0;
    margin: 0;
    color: #313131;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    background-color: rgb(32, 107, 227);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(22, 87, 207);
}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, textarea {
    width: 40px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Target textboxes */
input[type="text"], input[type="number"] {
    width: 240px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}



input::placeholder, textarea::placeholder {
    color: #aaa;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}

/* DROPDOWN */

.dropdown-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.dropdown-content label {
    margin-left: 10px;
}

/* APP CONTAINER */

.app-container {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


/* NAVBAR */

/* Ensure the nav takes full width */
nav {
    width: 100%;
    background-color: rgb(32, 107, 227);
    padding: 10px; 
}

/* Flex container for navbar items */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Space between left and right elements */
    align-items: center; 
}

/* Styling for the left side of the navbar */
.navbar-left {
    margin-left: 5px;
}

.navbar-left p {
    color: white;
    font-size: large;
}

/* Styling for the right side of the navbar */
.navbar-right {
    margin-right: 5px;
}

/* List items styling */
.navbar {
    list-style: none; /* Remove default list styling */
    margin: 0; 
    padding: 0; 
    display: flex; 
}

/* List item styling */
.navbar li {
    margin: 0 10px; 
}

/* Link styling */
.navbar li a {
    color: white; 
    font-size: large;
    text-decoration: none; 
    padding: 5px 10px; 
}

/* Optional: Add hover effect for links */
.navbar li a:hover {
    text-decoration: underline; 
}






